## ✅ Question

1. Which items generate the most revenue for the café?
    
2. What are the peak sales days of the week?
    
3. How do transaction amounts vary — what’s the average and are there outliers?

In [65]:
import pandas as pd
import numpy as np

In [66]:
df = pd.read_csv('cafe_sales.csv')

In [100]:
df.head(5)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,Unknown,Unknown,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [68]:
df.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_9226047,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [71]:
df.isnull().sum() * 100/len(df)

Transaction ID      0.00
Item                3.33
Quantity            4.79
Price Per Unit      5.33
Total Spent         5.02
Payment Method      0.00
Location            0.00
Transaction Date    1.59
dtype: float64

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9521 non-null   float64
 3   Price Per Unit    9467 non-null   float64
 4   Total Spent       9498 non-null   float64
 5   Payment Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 625.1+ KB

In [76]:
df['Item'] = df['Item'].replace(['nan', 'ERROR', 'UNKNOWN'], 'Unknown')
df['Item'].unique()

df['Quantity'] = pd.to_numeric(df['Quantity'] , errors='coerce')
df['Quantity'].unique()

df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'] , errors='coerce')
df['Price Per Unit'].unique()

df['Payment Method'] = df['Payment Method'].replace(['nan', 'ERROR', 'UNKNOWN'], 'Unknown').fillna('Unknown')
df['Payment Method'].unique()

df['Location'] = df['Location'].replace(['nan', 'ERROR', 'UNKNOWN'], 'Unknown').fillna('Unknown')
df['Location'].unique()

df['Transaction Date'].fillna('Unknown')

df['Total Spent'] = pd.to_numeric(df['Total Spent'] , errors='coerce')
df['Total Spent'].unique()

df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

In [ ]:
df[df[['Item','Price Per Unit', 'Total Spent']].isnull().all(axis=1)]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
1761,TXN_3611851,NaN,4.0,NaN,NaN,Credit Card,Unknown,2023-02-09

In [99]:
mask = (df['Item'] == str.lower=='unknown')
df[mask]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().