## ✅ Question

1. Which items generate the most revenue for the café?
    
2. What are the peak sales hours and days of the week?
    
3. How do transaction amounts vary — what’s the average and are there outliers?

In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv('cafe_sales.csv')

In [33]:
df.head(5)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [35]:
df.describe()

       Total Spent
count  9498.000000
mean      8.924352
std       6.009919
min       1.000000
25%       4.000000
50%       8.000000
75%      12.000000
max      25.000000

In [64]:
df.isnull().sum() * 100/len(df)

Transaction ID      0.00
Item                3.33
Quantity            4.79
Price Per Unit      5.33
Total Spent         5.02
Payment Method      0.00
Location            0.00
Transaction Date    1.59
dtype: float64

In [ ]:
df['Item'] = df['Item'].replace(['nan', 'ERROR', 'UNKNOWN'], 'Unknown')
df['Item'].unique()

df['Quantity'] = pd.to_numeric(df['Quantity'] , errors='coerce')
df['Quantity'].unique()

df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'] , errors='coerce')
df['Price Per Unit'].unique()

df['Payment Method'] = df['Payment Method'].replace(['nan', 'ERROR', 'UNKNOWN'], 'Unknown').fillna('Unknown')
df['Payment Method'].unique()

df['Location'] = df['Location'].replace(['nan', 'ERROR', 'UNKNOWN'], 'Unknown').fillna('Unknown')
df['Location'].unique()

df['Transaction Date'].fillna('Unknown')

df['Total Spent'] = pd.to_numeric(df['Total Spent'] , errors='coerce')
df['Total Spent'].unique()