#### ✅ Question

## 1. Which items generate the most revenue for the café?
    
    # Salad with total revenue of15600.0

# 2. In which month most revenue generated ?
    
    # 10th month | highest revenue = 6032

# 3. Find the Total revenue of data set  
    
    # 72882

# 4. avg sales per month
    
    # 5788.25

In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('cafe_sales.csv')

In [37]:
df.head(5)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [38]:
df.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_9226047,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [39]:
df2.isnull().sum() 
# df[['Price Per Unit', 'Quantity', 'Item']].isnull().sum()

Unnamed: 0            0
Transaction ID        0
Item                  0
Quantity              0
Price Per Unit        0
Total Spent           0
Payment Method        0
Location              0
Transaction Date    374
Month               374
dtype: int64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [41]:
df['Item'] = df['Item'].replace(['nan', 'ERROR', 'UNKNOWN'], 'Unknown')
df['Item'].unique()

df['Quantity'] = pd.to_numeric(df['Quantity'] , errors='coerce')
df['Quantity'].unique()

df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'] , errors='coerce')
df['Price Per Unit'].unique()

df['Payment Method'] = df['Payment Method'].replace(['nan', 'ERROR', 'UNKNOWN'], 'Unknown').fillna('Unknown')
df['Payment Method'].unique()

df['Location'] = df['Location'].replace(['nan', 'ERROR', 'UNKNOWN'], 'Unknown').fillna('Unknown')
df['Location'].unique()

df['Transaction Date'].fillna('Unknown')

df['Total Spent'] = pd.to_numeric(df['Total Spent'] , errors='coerce')
df['Total Spent'].unique()

df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

In [42]:
mask = df[['Item','Price Per Unit','Total Spent']].isnull().all(axis=1)
df.drop(index=df[mask].index, inplace=True)

In [43]:
df.head(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,Unknown,Unknown,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,Unknown,2023-03-31
6,TXN_4433211,Unknown,3.0,3.0,9.0,Unknown,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4.0,4.0,16.0,Cash,Unknown,2023-10-28
8,TXN_4717867,NaN,5.0,3.0,15.0,Unknown,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5.0,4.0,20.0,Unknown,In-store,2023-12-31

In [44]:
mask = (
    df['Quantity'].notna() &
    df['Price Per Unit'].notna() &
    df['Item'].notna() &
    (df['Item'].str.strip().str.lower() != 'unknown')
)

# clean_df = df[mask]
# print(len(df) - len(clean_df))
df.drop(index=df[~mask].index, inplace=True)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8147 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    8147 non-null   object
 1   Item              8147 non-null   object
 2   Quantity          8147 non-null   float64
 3   Price Per Unit    8147 non-null   float64
 4   Total Spent       7732 non-null   float64
 5   Payment Method    8147 non-null   object
 6   Location          8147 non-null   object
 7   Transaction Date  7773 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 572.8+ KB

In [48]:
df2 = pd.read_csv('/home/prince/Data science/01_Practice/Pandas/01/Final_one')

In [ ]:
df2.loc[
    df2['Total Spent'].isna() & df2['Quantity'].notna() & df2['Price Per Unit'].notna(),
    'Total Spent'
] = df2['Quantity'] * df2['Price Per Unit']

In [ ]:
df2.isnull().sum()

Unnamed: 0            0
Transaction ID        0
Item                  0
Quantity              0
Price Per Unit        0
Total Spent           0
Payment Method        0
Location              0
Transaction Date    374
dtype: int64

In [ ]:
df2.columns

Index(['Unnamed: 0', 'Transaction ID', 'Item', 'Quantity', 'Price Per Unit',
       'Total Spent', 'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [ ]:
total_revenue = df2['Total Spent'].sum()
total_revenue

np.float64(72882.0)

In [ ]:
df2.head()

,Unnamed: 0,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,3,TXN_7034554,Salad,2.0,5.0,10.0,Unknown,Unknown,2023-04-27
4,4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [ ]:
df2['Transaction Date'] = pd.to_datetime(df2['Transaction Date'], errors='coerce')
df2['Month'] = df2['Transaction Date'].dt.month
df2['Month']

0        9.0
1        5.0
2        7.0
3        4.0
4        6.0
        ...
8142     7.0
8143    10.0
8144     8.0
8145     3.0
8146    11.0
Name: Month, Length: 8147, dtype: float64

In [ ]:
monthly_sales = df2.groupby("Month")["Total Spent"].sum()
monthly_sales.max() , monthly_sales.idxmax()

(6032.0, np.float64(10.0))

In [ ]:
grouped = df2.groupby("Month")["Total Spent"].sum()
overall_avg = grouped.sum() / grouped.count()
print(overall_avg)

5788.25

In [ ]:
monthly_sales

Month
1.0     5944.0
2.0     5421.0
3.0     5879.0
4.0     5835.0
5.0     5568.0
6.0     6005.0
7.0     5737.5
8.0     5746.0
9.0     5617.0
10.0    6032.0
11.0    5953.0
12.0    5721.5
Name: Total Spent, dtype: float64

In [ ]:
best_selling_item = df2.groupby("Item")["Total Spent"].sum()
best_selling_item.max() , best_selling_item.idxmax()

(15600.0, 'Salad')